<div class="heatmap">
    <h2 class="heatmap__headline">{{title}}</h2>
    <div class="heatmap__body">
        <div class="heatmap__body__axis-y">
            <div class="heatmap__body__axis-y__item"
                 ng-repeat="itemY in axisValuesY">
                    {{itemY}}
            </div>
        </div>
        <div class="heatmap__body__map">
            <div class="heatmap__body__map__line" ng-repeat="line in chartData">
                <div class="heatmap__body__map__line__item"
                     ng-repeat="item in line"
                     ng-style="{{item.color}}">
                </div>
            </div>
        </div>
    </div>
    <div class="heatmap__axis-x">
        <div class="heatmap__axis-x__item"
             ng-repeat="itemX in axisValuesX">
            {{itemX}}
        </div>
    </div>
</div>
